footer{
    height: 100px;
    background: $color-secondary;
    margin-top: auto;
}

.markap{
    position: fixed;
    left: 10px;
    bottom: 20px;
    background-color: $color-primary;
    color: black;
    display: inline-block;
    width: fit-content;
    padding: 7px 12px;
    line-height: 2;
    border-radius: 20px;
    &:hover {
        background: $color-secondary;
    }
}
