::selection {
    color: $text-color;
    background: $color-secondary;
}

body {
    background: $bg-primary;
    color: $text-color;
    font-family: $font-primary;
}

a {
    color: $color-primary;
    text-decoration: underline;

    &:hover {
        background: $color-secondary;
    }
}

.btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 146%;
    border-radius: 90px;
    padding: 13px 17px;
    display: inline-flex;
}

.container-xxl {
    max-width: 1820px;
}