<section class="about-company">
    <div class="container">
        <div class="template-title text-left">
            <h2>Про нас</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="about-company-content">
                    <p>Компанія Азія Карго - це повний комплекс логістичних послуг доставки вантажів з Китаю до України.
                        -
                        збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україну. Для вашої
                        зручності є тарифи на легкий та важкий куб. Ми працюємо на ринку понад 4 роки, а керівники
                        компанії
                        займаються логістикою вже понад 11 років.</p>
                    <p>Ми прагнемо надати найкращі умови доставки та найкращий сервіс своїм клієнтам. Обравши нас – ви
                        вибираєте якісну доставку за оптимальною ціною та часом! Переконайтеся у цьому самі!</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-company-img_box"><img src="assets/img/bg-aboutcompany.png" alt=""></div>
            </div>
        </div>
    </div>
</section>