</section>
<section class="advantages container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Чому варто обрати саме нас?</h2>
        </div>
        <div class="advantages-slider row">
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-1.svg" alt="advantage">
                    </div>
                    <h4 class="advantage-title">
                Митне оформлення вантажу
            </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-2.svg" alt="advantage">
                    </div>
                    <h4 class="advantage-title">
                Страхування вантажу
            </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-3.svg" alt="advantage">
                    </div>
                    <h4 class="advantage-title">
                Перевірка товару на брак
            </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-4.svg" alt="advantage">
                    </div>
                    <h4 class="advantage-title">
                Доставка в будь-яке місто України
            </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-5.svg" alt="advantage">
                    </div>
                    <h4 class="advantage-title">
                Консолідація на складі
            </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-6.svg" alt="advantage">
                    </div>
                    <h4 class="advantage-title">
                Відповідне зберігання вантажу
            </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-7.svg" alt="advantage">
                    </div>
                    <h4 class="advantage-title">
                Допомога при оплаті товару
            </h4>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantage-8.svg" alt="advantage">
                    </div>
                    <h4 class="advantage-title">
                Пакування, перепакування, палетування вантажу для міжнародного перевезення
            </h4>
                </div>
            </div>
        </div>
    </div>
</section>
