<section class="cooperation container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Готові до співпраці?</h2>
            <h3>Зареєструйте вантаж!</h3>
        </div>

        <div class="row">
            <div class="cooperation_section-left">
                <div class="col-md-6">

                    <div class="cooperation-content">
                        <p> • Для того, щоб розпочати співпрацю, необхідно зареєструвати вантаж вказавши інформацію про його вміст, вартість та кількість та прикріпити фото вантажу до заявки.</p>
                        <p> • Якщо потрібна перевірка товару на відповідність кількості, то при оформленні вантажу на сайті слід зазначити це у графі "Примітка". Послуга перевірки є платною і складає 3 юана за одну позицію в замовленні. Будь-які додаткові перевірки вантажу обговорюються індивідуально, в тому числі їх вартість.</p>
                         <p>• Перед відправкою вантажу на наш склад в Китаї обов'язково подбайте про те, щоб зробити маркування, з
                            номером Вашого замовлення у нас на сайті для кожної зовнішньої коробки, щоб ми змогли визначити що це саме Ваш вантаж. Якщо у Вас немає можливості зробити це самостійно, попросіть про це свого постачальника.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="assets/img/cooperation-1.png" data-fancybox="gallery" data-caption="">
    <img class="cooperation-img_fancyboxs" src="assets/img/cooperation-1.png" />
  </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="cooperation_section-right">
                <div class="col-md-6">
                    <a href="assets/img/cooperation-2.png" data-fancybox="gallery">
    <img class="cooperation-img_fancyboxs" src="assets/img/cooperation-2.png"/>
  </a>
                </div>
                <div class="col-md-6">
                    <div class="cooperation-content">
                        <p>• Після відправки вантажу на наш склад в Китаї, Вам обов'язково потрібно вказати трек-номер для
                            відстеження посилок по Китаю для кожної позиції на замовлення. Внести трек-номер можна на сторінці
                            замовлення. Трек-номер - це ще один спосіб для ідентифікації Вашого вантажу на нашому складі.</p>
                        <p>•Якщо Ви оформили вантаж згідно інструкції та зробили все правильно, то при отриманні Вашого
                            вантажу на складі у Китаї статус замовлення зміниться на "На складі".</p>
                    </div>

                    <button type="button" class="btn btn-primary btn-lg">Оформити вантаж<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>
        </div>
    </div>
</section>