
<main class="wrapper home">

    <section class="first-screen container-xxl">

        <div class="first-screen-slider">
            <div style="background-image: url(assets/img/first-screen-1.jpg);">
                <div class="container">
                    <div class="first-screen__title">Пряме КАРГО із Китаю</div>
                    <div class="first-screen__subtitle">Доставляємо будь-які вантажі з Китаю за гарною ціною</div>
                    <button class="btn btn-primary">Розрахувати вартість</button>
                </div>
            </div>
            <div>2 slick slide</div>
            <div>3 slick slide</div>
            <div>4 slick slide</div>
            <div>5 slick slide</div>
        </div>
    </section>
