
<section class="first-screen container-xxl">

        <div class="first-screen-slider">

            <div style="background-image: url(assets/img/first-screen-1.jpg);">
                <div class="container">
                    <div class="first-screen__title">Пряме КАРГО з Китаю</div>
                    <div class="first-screen__subtitle">Доставляємо будь-які вантажі з Китаю за гарною ціною</div>
                    <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>

            <div style="background-image: url(assets/img/first-screen-2.jpg);">
                <div class="container">
                    <div class="first-screen__title">Викуп товару з ТаоБао, 1688</div>
                    <div class="first-screen__subtitle">Викуп і доставка товарів з китайських торгових майданчиків.</div>
                    <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>

            <div style="background-image: url(assets/img/first-screen-3.jpg);">
                <div class="container">
                    <div class="first-screen__title">Експрес авто доставка</div>
                    <div class="first-screen__subtitle">Доставка автотранспортом з Китаю до України від 15 днів, від $0,5/кг</div>
                    <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>

            <div style="background-image: url(assets/img/first-screen-4.jpg);">
                <div class="container">
                    <div class="first-screen__title">Пряме КАРГО з Китаю</div>
                    <div class="first-screen__subtitle">Доставляємо будь-які вантажі з Китаю за гарною ціною</div>
                    <button type="button" class="btn btn-primary btn-lg">Розрахувати вартість<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                </div>
            </div>


        </div>
    </div>
        </div>
        <div class="container-arrows"></div>

    
    </section>