<footer>
    <div class="container">
        <div class="footer-info row">
            <div class="col-md-3">
                <div class="first-section">
                    <img src="assets/img/logo-lg.svg" alt="logo">
                    <div class="address-column">
                        <h4>8(800)600-18-69</h4>
                        <a class="email" href="#">info@cargoasia.info</a>
                        <h4>Адреса в Китаї: <br> 浙江省金华市义乌市后宅街道洪华小区5 <br> 栋一单元一楼RT789库房 高建军 电话15966660379</h4>
                        <div class="social-network__img">
                            <img src="assets/img/instagram.svg" alt="instagram">
                            <img src="assets/img/facebook.svg" alt="facebook">
                            <img src="assets/img/telegram.svg" alt="telegram">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-md-block">
                <div class="second-section">
                    <h5>Вантажоперевезення</h5>
                    <div class="footer-column__link">
                        <a href="#">Ціни та терміни</a>
                        <a href="#">Послуги</a>
                        <a href="#">Про нас</a>
                        <a href="#">Контакти</a>
                        <a href="#">Оформити вантаж</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-md-block">
                <div class="third-section">
                    <h5>Послуг</h5>
                    <div class="footer-column__link">
                        <a href="#">Викуп товару</a>
                        <a href="#">Страхування вантажу</a>
                        <a href="#">Оренда складу</a>
                        <a href="#">Переказ кошті</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none d-md-block">
                <div class="fourth-section">
                    <h5>Інформація</h5>
                    <div class="footer-column__link">
                        <a href="#">Відгуки</a>
                        <a href="#">Вимоги до вантажу</a>
                        <a href="#">Договір-пропозиція</a>
                        <a href="#">Як укласти договір</a>
                        <a href="#">Способи оплати послуг</a>
                        <a href="#">Документи</a>
                        <a href="#">Статті</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</footer>

<a href="markap.html" class="markap">Markap</a>


<script src="assets/js/jquery-3.6.4.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/custom.js"></script>


</body>
</html>