<section class="services container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Послуги</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="slider-template_img-box">
                    <img src="assets/img/services-1.png" class="img-fluig" alt="item">
                </div>
                <h4 class="slider-template_title">Викуп товару</h4>
                <div class="slider-template_description">
                    Компанія - це повний комплекс логістичних послуг доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україна.
                </div>
                <div class="slider-template_btn-row">
                    <button type="button" class="btn btn-secondary">Детальніше</button>
                </div>
            </div>
            <div>
                <div class="slider-template_img-box">
                    <img src="assets/img/services-2.png" class="img-fluig" alt="item">
                </div>
                <h4 class="slider-template_title">Страхування вантажу</h4>
                <div class="slider-template_description">Компанія - це повний комплекс логістичних послуг доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україна.
                </div>
                <div class="slider-template_btn-row">
                    <button type="button" class="btn btn-secondary">Детальніше</button>
                </div>
            </div>
            <div>
                <div class="slider-template_img-box">
                    <img src="assets/img/services-3.png" class="img-fluig" alt="item">
                </div>
                <h4 class="slider-template_title">Оренда складу</h4>
                <div class="slider-template_description">Компанія - це повний комплекс логістичних послуг доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україна.
                </div>
                <div class="slider-template_btn-row">
                    <button type="button" class="btn btn-secondary">Детальніше</button>
                </div>
            </div>
            <div>
                <div class="slider-template_img-box">
                    <img src="assets/img/services-4.png" class="img-fluig" alt="item">
                </div>
                <h4 class="slider-template_title">Переказ коштів</h4>
                <div class="slider-template_description">Компанія - це повний комплекс логістичних послуг доставки вантажів з Китаю до України - збірні вантажі та цілісні товарні партії, послуги посередника ТаоБао, КАРГО Китай-Україна.
                </div>
                <div class="slider-template_btn-row">
                    <button type="button" class="btn btn-secondary">Детальніше</button>
                </div>
            </div>
        </div>
    </div>
</section>